<div class="scroll-wrapper">
    <!-- scroll container -->
    <div data-scroll-container style="height: 100%;">

        <!-- section with scrolling content -->
        <section data-scroll-section style="height: 100vh; background: #f0f0f0;">
            <h1 data-scroll data-scroll-speed="-8">This text should scroll slower</h1>
            <p data-scroll data-scroll-speed="-1">This text should scroll faster</p>
        </section>

        <section class="horizontal" data-scroll-section style="height: 100vh; background: #d0d0d0;">
            <h2 data-scroll data-scroll-direction="horizontal" data-scroll-speed="5">
                Horizontal scroll movement
            </h2>
            <h2 data-scroll data-scroll-direction="horizontal" data-scroll-speed="4">
                Horizontal scroll movement
            </h2>
        </section>

        <section class="img_section" data-scroll-section style="height: fit-content;">
            <div class="img_container" data-scroll data-scroll-speed="3">
                <div class="img_wrapper">
                    <img src="assets/images/luxuryimg-02.jpg" alt="" data-scroll data-scroll-speed="-2">
                </div>
            </div>
            <div class="img_container" data-scroll data-scroll-speed="2">
                <div class="img_wrapper">
                    <img src="assets/images/luxuryimg-04.jpg" alt="" data-scroll data-scroll-speed="-1">
                </div>
            </div>
            <div class="img_container" data-scroll data-scroll-speed="5">
                <div class="img_wrapper">
                    <img src="assets/images/luxuryimg-05.jpg" alt="" data-scroll data-scroll-speed="-1">
                </div>
            </div>
            <div class="img_container" data-scroll data-scroll-speed="1">
                <div class="img_wrapper">
                    <img src="assets/images/luxuryimg-06.jpg" alt="" data-scroll data-scroll-speed="-2">
                </div>
            </div>
        </section>
    </div>
</div>