:host {
    /* display: block; */
    /* height: 100vh; */
    /* overflow: hidden; */
}

h1,
h2,
p {
    color: black;
    font-size: 80px;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: auto;
    width: fit-content;
    text-wrap: nowrap;
}

.horizontal h2 {
    width: fit-content;
}

.img_section {
    padding: 50px;
}



.img_container .img_wrapper {
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.img_container .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_container .img_wrapper img {
    /* transition: transform .8s ease-in-out; */
    will-change: transform;
}

.img_container {
    width: 100%;
    height: 50vh;
}

.img_container:nth-child(odd) .img_wrapper {
    float: left;
}

.img_container:nth-child(even) .img_wrapper {
    float: right;
}

.img_container:nth-child(1) .img_wrapper {
    margin-left: 300px;
}

.img_container:nth-child(4) .img_wrapper {
    margin-right: 300px;
}