<div class="cursor-circle"></div>
<div class="main_content">
  <nav class="top-nav">
    <ul class="nav-list">
      <!-- <ul> -->
      <li class="nav-item">
        <a routerLink="/lightbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LightBox</a>
      </li>
      <li class="nav-item">
        <a routerLink="/swiper" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Swiper</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fancybox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fancybox</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sw-alert" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sweet Alert</a>
      </li>
      <li class="nav-item">
        <a routerLink="/atropos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Atropos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/accordion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accordion</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tab-panel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tab Panel</a>
      </li>
      <li class="nav-item">
        <a routerLink="/scrolling-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scrolling
          Page</a>
      </li>
      <li class="nav-item">
        <a routerLink="/parallex" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Parallex
          effect</a>
      </li>
      <li class="nav-item">
        <a routerLink="/scroll-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scroll Grid</a>
      </li>
      <li class="nav-item">
        <a routerLink="/scroll" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Scroll Text</a>
      </li>
      <li class="nav-item">
        <a routerLink="/loco-scroll" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Locomotive
          Scroll</a>
      </li>
      <!-- </ul> -->
      <div class="toggle nav-item">
        <span style="top: 15px;"></span>
        <span style="top: 20px;"></span>
        <span style="top: 10px;"></span>
      </div>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
<div class="url_div">
  <a [href]="referenceUrl" *ngIf="referenceUrl" target="_blank" rel="noopener noreferrer" class="ref_url">Reference</a>
  <a href="https://github.com/GadaniPanth/UI-Blocks-Angular.git" target="_blank" rel="noopener noreferrer"
    class="code_url">Code</a>
</div>
<div class="version_div" *ngIf="version">
  <h2 class="font_20">v{{version}}</h2>
</div>