<div class="accordion">
    <div *ngFor="let section of sections; let i = index" class="accordion-item">
      <button (click)="toggleContent(i)" class="accordion-header" [attr.id]="'accordion-' + i">
        <span class="accordion-title">{{ section.title }}</span>
        <span class="accordion-icon">{{ section.isOpen ? '-' : '+' }}</span>
      </button>
      <div *ngIf="section.isOpen" class="accordion-body" [attr.id]="'content-' + i">
        <div class="content">
          {{ section.content }}
        </div>
      </div>
    </div>
  </div>
  