.accordion {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 30px;
  }
  
  .accordion-header {
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .accordion-title {
    flex-grow: 1; 
  }
  
  .accordion-icon {
    font-size: 20px;
    font-weight: bold;
  }
  
  .accordion-body {
    background-color: transparent;
    color: white;
    padding: 10px;
    overflow-y: auto; 
    max-height: 1000px; 
    display: block;
    transition: max-height 0.3s ease-in-out;
  }
  
  .content {
    height: auto; 
    display: block;
    padding: 10px 0; 
    color: white;
  }
  
  @media (max-width: 320px) {
    .accordion {
      max-width: 100%;
    }
  
    .accordion-header {
      font-size: 14px;
      padding: 8px;
    }
  
    .accordion-body {
      max-height: 120px; 
    }
  
    .content {
      height: auto; 
    }
  }
  