.swiper-slide h2 {
    will-change: transform, opacity;
}

.op1 {
    opacity: 1 !important;
}

.container {
    width: 100%;
    /* height: fit-content; */
    position: absolute;
    top: 0;
    left: 0;
    /* background: #1e1e1e; */
}


.fixed-container {
    background: transparent;
    position: fixed;
    top: 40%;
    width: 100%;
    left: 0;
    height: fit-content;
}

.img-container h2,
.fixed-container h2 {
    color: #0cdcf7;
    margin: 0;
    font-family: "Azeret Mono", monospace;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}


.img-container h2:not(:first-of-type) {
    opacity: 0;
}


.fixed-container h2 {
    width: 100%;
    text-align: center;
    opacity: 1;
    position: static;
}

.swiper-container {
    height: 100vh;
}

.swiper-wrapper {
    height: 100%;
}