.container {
    width: 100%;
    /* height: fit-content; */
    position: absolute;
    top: 0;
    left: 0;
    /* background: #1e1e1e; */
}

.img-container,
.fixed-container {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-container:last-of-type {
    /* height: 80vh; */
}

.fixed-container {
    background: transparent;
    position: fixed;
    top: 0;
    /* z-index: -1; */
    width: 100%;
    z-index: 9999;
}

.img-container h2,
.fixed-container h2 {
    color: #0cdcf7;
    margin: 0;
    font-family: "Azeret Mono", monospace;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
}


.fixed-container h2 {
    width: 100%;
    text-align: center;
    opacity: 1;
    position: static;
}

.swiper-container {
    height: 100vh;
}

.swiper-wrapper {
    height: 100%;
}