<!-- <div class="container">
    <section class="image-container">
        <h2>#001</h2>
    </section>
    <section class="img-container">
        <h2>#002</h2>
    </section>
    <section class="img-container">
        <h2>#003</h2>
    </section>
    <section class="img-container">
        <h2>#004</h2>
    </section>
    <section class="img-container">
        <h2>#005</h2>
    </section>
    <div class="progress"></div>
</div> -->

<div class="container">
    <div class="swiper-container">
        <div class="fixed-container">
            <h2>Choose</h2>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section class="img-container">
                    <h2>#001</h2>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="img-container">
                    <h2>#002</h2>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="img-container">
                    <h2>#003</h2>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="img-container">
                    <h2>#004</h2>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="img-container">
                    <h2>#005</h2>
                </section>
            </div>
        </div>

        <!-- Navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
    </div>
</div>