@import url(https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css);

body {
    background-color: #1e1e1e;
    color: white;
    font-family: sans-serif;
}

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

.main_content {
    width: 100%;
    /* height: 100%; */
    padding: 50px;
    height: max-content;
}

.links {
    display: flex;
    gap: 15px;
    margin-bottom: 50PX;

}

.links a {
    text-decoration: none;
    color: white;
}

.links a.active {
    color: cyan;
}

.font_20 {
    font-size: 20px;
}

.ref_url {
    display: block;
    float: unset;
    text-decoration: none;
    color: white;
    margin-top: 55px;
    width: fit-content;

    &:active {
        color: cyan;
    }

    &:hover {
        color: crimson;
    }
}

.code_url {
    display: block;
    float: unset;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    width: fit-content;

    &:active {
        color: crimson;
    }

    &:hover {
        color: cyan;
    }
}

.version_div {
    position: absolute;
    top: 85px;
    left: 50px;
}