@import url(https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css);

body {
    background-color: #1e1e1e;
    color: white;
    font-family: sans-serif;
}

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

.pd50 {
    padding: 50px;
}

.main_content {
    width: 100%;
    /* height: 100%; */
    /* padding: 50px; */
    /* height: max-content; */
}

.links {
    display: flex;
    gap: 15px;
    margin-bottom: 50PX;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a.active {
    color: cyan;
}

.font_20 {
    font-size: 20px;
}

.url_div {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.ref_url {
    display: block;
    float: unset;
    text-decoration: none;
    color: white;
    margin-top: 55px;
    width: fit-content;
}

.ref_url:active {
    color: cyan;
}

.ref_url:hover {
    color: crimson;
}

.code_url {
    display: block;
    float: unset;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    width: fit-content;
}

.code_url:active {
    color: crimson;
}

.code_url:hover {
    color: cyan;
}

.version_div {
    position: fixed;
    bottom: 35px;
    right: 10px;
}

.page-wrapper {
    transition: background-color 0.8s ease-in-out;
    padding: 0 !important;
}



/* cursor style */

.cursor-circle {
    position: fixed;
    width: 12px;
    height: 12px;
    /* background-color: cyan;
    border: solid 1px cyan; */
    background-color: cyan;
    border: solid 1px cyan;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.05s linear, left 0.05s linear;
    z-index: 1000;
    scale: 1;
}

.section-padding {
    padding: 110px 0;
}

.mlr-80 {
    margin: 0 80px !important;
}


/* Locomotive added Css */
[data-scroll-container] {
    overflow: hidden;
}


/* Page transition effect */
.overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;
    background-color: #1e1e1e;
}

.layer-cyan {
    background-color: cyan;
    z-index: 999;
}


.route-container {
    /* position: relative;
    overflow: hidden; */
}